[user]
	name = Michael Weibel
	email = michael.weibel@gmail.com
[color]
	ui = true
[alias]
	st = status -sb
	co = checkout
	ci = commit
	br = branch
	graph = log --graph --oneline --all
[core]
	editor = /usr/bin/vim
	quotepath = false
	ignorecase = false
	excludesfile = /Users/wemi/.gitignore
[push]
	default = current
